<app-cabecera> </app-cabecera>



<div>
  <h1><i class="fas fa-gamepad"></i>Bienvenido a Sala de Juegos!</h1>
</div>

<img class="gif" src="./assets/imagenes/welcome.gif" alt="Homero" style="width:100%;
height: auto;">

<!-- SUPERMARIOFLASH! -->
<!-- <table style="margin:0 0 10px 0; width:244px; background:#fff; border:1px solid #F3F3F3;" cellspacing="0"
  cellpadding="0">
  <tr>
    <td style="font-family:verdana; font-size:11px; color:#000; padding:5px 5px;">
      <object
        classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"
        codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,29,0" width="640"
        height="510">
        <param name="movie" value="https://www.games68.com/games/superflashmariobros.swf">
        
        <param name="quality" value="high">
        
        <param name="menu" value="false">
        
        <embed src="https://www.games68.com/games/superflashmariobros.swf" width="640" height="510"
          quality="high" pluginspage="https://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash"
          menu="false">
        
      </object>
    </td>
  </tr>
  
</table> -->


<!-- de octavio -->
<!--
<div class="container" >
   
    <ul class="list-group">
        <li class="list-group-item list-group-item-danger">
           
                <div class="media-body">
                    <div class="hero-text">
                        <h4 >Menú Principal</h4>
                    </div>
                 </div>
               
             
          </li>
        <li class="list-group-item list-group-item-success">
          <a routerLink="/Juegos">
            <div class="media">
              <div class="media-left">
                    <img src="./assets/imagenes/saladejuegos.png" class="media-object imagenDeMenu" >
              </div>
              <div class="media-body">
                <h4 class="media-heading">Juegos</h4>
                <p class="text-info">El método lúdico es un conjunto de estrategias diseñadas para crear un ambiente de armonía en los estudiantes que están inmersos en el proceso de aprendizaje. Este método busca que los alumnos se apropien de los temas impartidos por los docentes utilizando el juego.</p>
              </div>
             
            </div> 
          </a>
        </li>
        <li class="list-group-item list-group-item-info">
            <a routerLink="/Listado">
              <div class="media">
                  <div class="media-left">
                      <img src="./assets/imagenes/listado.jpg" class="media-object imagenDeMenu" >
                    </div>
                <div class="media-body">
                  <h4 class="media-heading">Listados de resultados</h4>
                  <p>Los listados de los resultados con ordenamiento y busqueda</p>
                </div>
                
              </div> 
            </a>
          </li>
        <li class="list-group-item list-group-item-warning">
          <a routerLink="/Juegos">
            <div class="media">
                <div class="media-left">
                    <img src="./assets/imagenes/Configuracion.png" class="media-object imagenDeMenu" >
                  </div>
              <div class="media-body">
                <h4 class="media-heading">Configuraci&oacute;n</h4>
                <p>Ajustes de la aplicacion y los métodos de autentificación</p>
              </div>
             
            </div> 
          </a>
        </li>
        <li class="list-group-item list-group-item-warning">
          <a routerLink="/Jugadores">
            <div class="media">
                <div class="media-left">
                    <img src="./assets/imagenes/jugadores.png" class="media-object imagenDeMenu" >
                  </div>
              <div class="media-body">
                <h4 class="media-heading">Jugadores</h4>
                <p>Listado de jugadores</p>
              </div>
             
            </div> 
          </a>
        </li>
       
        
      </ul>
</div>
-->