<!-- CARRUSEL -->
<div id="demo" class="carousel slide" data-ride="carousel">
  
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div><img src="./assets/imagenes/agilidad.gif" alt="Los Angeles" width="1100" height="500"></div>

      <div class="carousel-caption">
        <h3>Juego de agilidad mental</h3>
        <p>Velocidad y agilidad aritmética </p>
        <button class="btn btn-dark" routerLink="Agilidad">Jugar</button>
      </div>
    </div>
    <div class="carousel-item">
      <img src="./assets/imagenes/ppt.gif" alt="Chicago" width="1100" height="500">
      <div class="carousel-caption">
        <h3>Piedra Papel o Tijera</h3>
        <p>Juega contra la máquina</p>
        <button class="btn btn-dark" routerLink="ppt">Jugar</button>
      </div>
    </div>
    <div class="carousel-item">
      <img src="./assets/imagenes/adivina.gif" alt="New York" width="1100" height="500">
      <div class="carousel-caption">
        <h3>Adivina el número secreto</h3>
        <p>Juego de estrategia</p>
        <button class="btn btn-dark" routerLink="Adivina">Jugar</button>
      </div>
    </div>
    <div class="carousel-item">
      <img src="./assets/imagenes/harry.gif" alt="New York" width="1100" height="500">
      <div class="carousel-caption">
        <h3>Anagrama</h3>
        <p>Juego de palabras</p>
        <button class="btn btn-dark" routerLink="Anagrama">Jugar</button>
      </div>
    </div>
    <div class="carousel-item">
      <img src="./assets/imagenes/ttt.gif" alt="New York" width="1100" height="500">
      <div class="carousel-caption">
        <h3>Ta-Te-Ti</h3>
        <p>Juego de estrategia</p>
        <button class="btn btn-dark" routerLink="Tateti">Jugar</button>
      </div>
    </div>
    <div class="carousel-item">
      <img src="./assets/imagenes/snake.gif" alt="New York" width="1100" height="500">
      <div class="carousel-caption">
        <h3>Snake</h3>
        <p>Prueba tus reflejos!</p>
        <button class="btn btn-dark" routerLink="Snake">Jugar</button>
      </div>
    </div>
  </div>
  <div class="carousel-controls">
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>
  <ul class="carousel-indicators btn-dark">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
      <li data-target="#demo" data-slide-to="3"></li>
      <li data-target="#demo" data-slide-to="4"></li>
      <li data-target="#demo" data-slide-to="5"></li>
    </ul>
</div>
<div class="auto"></div>